body {
    background: #FAA307;;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40px;
}

section {
    margin-top: -20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 233px;
    height: 190px;
    padding: 20px;
    flex-shrink: 0;
    margin: 20px 10px 20px 10px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

.blue {
    background: #03071E;
}

.red {
    background: #6A040F;
}

.ellipse {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #748CAB;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.first {
    align-content:start;
    gap: 20px;
}

.second {
    align-items: center;
    gap: 41px;
}

.third {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    align-content: end;
    gap: 20px;
}